[submodule "ExternalLib/FUZZTEST"]
	path = ExternalLib/FUZZTEST
	url = https://github.com/google/fuzztest
[submodule "ExternalLib/GOOGLE_BENCHMARK"]
	path = ExternalLib/GOOGLE_BENCHMARK
	url = https://github.com/google/benchmark
[submodule "ExternalLib/NLOHMANN_JSON"]
	path = ExternalLib/NLOHMANN_JSON
	url = https://github.com/nlohmann/json
[submodule "ExternalLib/SPDLOG"]
	path = ExternalLib/SPDLOG
	url = https://github.com/gabime/spdlog
[submodule "ExternalLib/Kataglyphis-ContainerHub"]
	path = ExternalLib/Kataglyphis-ContainerHub
	url = git@github.com:Kataglyphis/Kataglyphis-ContainerHub.git
