[Desktop Entry]
Type=Application
Name=KataglyphisCppInference
Exec=KataglyphisCppInference
Icon=KataglyphisCppInference
Terminal=true
Categories=Development;
