[Desktop Entry]
Type=Application
Name=KataglyphisCppInference
Exec=KataglyphisCppInference
Icon=org.kataglyphis.kataglyphiscppinference
Terminal=true
Categories=Development;
